
.img-thumbnail {
    border: none!important;
}


.font-weight-bolder {
    font-weight: 600!important;
}

.navbar-light .navbar-nav .nav-link {
    color: #26243C;
}

#facilities .fa {
    font-size: 30px!important;
    color:#FE79A2!important
}


.banner.container-fluid.mb-5 {
    background: url(../images/banner1.jpg) no-repeat center;
    max-width: 100%;
    background-attachment: fixed;
   
}
p {
    line-height: 1.2rem!important;
}

a{
    color: white!important;
}


.btn-primary { 
    background-color: #FE79A2!important;
    border: #FE79A2!important;
}

body {
    background-color: #26243c;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: white!important;
}

.card {
    background-color: transparent!important;
}

#facilities .card {
    background-color: #26243c;
    border: 1px solid rgba(255, 255, 255, 0.2);
}


#search_input {
    display: none;
}

.display_search {
    display: block!important;
}

.btn-outline-primary {
    color: white!important;
    border-color: white!important;
}

.btn-outline-primary:hover {
      color: rgb(29, 26, 26)!important;
    background-color: white!important;
}

.hide {
    display: none;
}

.pink {
    color: #FE79A2!important;
}

/* slider */
.carousel-item.background::before {
    
    content: "";
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: linear-gradient(148.25deg, #A253D8 3%, #1545CB 89.85%);
    opacity: .85;
    z-index: 1;

}

.slide {
    position: relative;
}
/* hình lượn sóng */
.wave {
    position: absolute;
    z-index: 1000;
    bottom: 0;
    left: 0;
}
/* banner */
.banner {
    position: relative;
}

/* opacity class cho thẻ image */
.opacity-img {
    opacity: 0.5;
}
/* style css cho phần meet our teacher của trang chủ */
.contain {
    position: absolute;
    bottom: 15px;
    left: 40%;
    transition: all .5s;
}

.teacher:hover .contain {
    transform: translateY(-100px);
}

.card-overlay {
    position: absolute!important;
    bottom: 0px!important;
    left: 2px!important;
}
/* màu xám cho chữ  */
.gray {
    color: #eee!important;
    font-weight: 300;
}
/* style cho phần caption của slider */
.carousel-caption.d-none.d-md-block.zIndex {
    position: absolute;
    top: 35%;
    left: 20%;
}
/* button slider */
.btn-primary {
    padding: 10px 32px!important;
    border-radius: 12px;
    transition: all .5s;
}

.btn-primary:hover {
    background-color: #d1535f!important;
}